{% include "store/base.html" %}

{% load static %}

{% block content %}

<style>
    
    body {
        background-color: gray;    
    }
    .form-layout {
        border-radius: 20px;
        width: 500px;
    }   

</style>

<body>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">

        <div class="text-center">

            <i class="fa fa-envelope fa-3x" aria-hidden="true"></i>
            <br> <br>
            <h5><strong>A verification link was sent to your email!</strong></h5>
            <!-- Give you a solid line -->
            <hr>
            <p>Please check your email</p>

        </div>
    </div>
</body>

{% endblock %}